.body{
    background-color: lightgray;
}
.main{
    position: absolute;
}
.header{
    top: 1%;
    left: 2%;
    right: 2%;
    height: 6%;
    z-index: 2;
    border-bottom: solid black 3px;
    text-align: right;
    color: black;
}
.title{
    top: -2%;
    left: 3%;
}
.topleft{
    top: 10%;
    left: 3%;
    width: 30%;
}
.topright{
    top: 10%;
    right: 3%;
    width: 30%;
}
.bottomleft{
    left: 3%;
    top: 55%;
    width: 30%;
}
.bottomright{
    right: 3%;
    top: 55%;
    width: 30%;
}
.footer{
    bottom: 2%;
    right: 3%;
    left: 3%;
    height: 5%;
    text-align: center;
}
.captions{
    text-align: center;
    font-size: 15px;
}