.body{
    background-color: lightgray;
}
.main{
    position: absolute;
}
.header{
    top: 1%;
    left: 2%;
    right: 2%;
    height: 6%;
    z-index: 2;
    border-bottom: solid black 3px;
    text-align: right;
    color: black;
}
.title{
    top: 0%;
    left: 3%;
}
.topleft{
    top: 10%;
    left: 3%;
    width: 40%;
    /*left: 5px;
    right: 5px;
    top: 64px;*/
}
.topright{
    top: 10%;
    right: 3%;
    bottom: 45%;
    width: 40%;
    /*left: 5px;
    right: 5px;
    top: 664px;*/
    /*top: 1164px;*/
}
.bottomleft{
    bottom: 10%;
    left: 3%;
    top: 55%;
    width: 40%;
    /*left: 5px;
    right: 5px;
    top: 1264px;*/
    /*top: 2264px;*/
}
.bottomright{
    bottom: 10%;
    right: 3%;
    top: 55%;
    width: 40%;
    /*left: 5px;
    right: 5px;
    top: 1864px;*/
    /*top: 3364px;*/
}
.footer{
    bottom: 5%;
    right: 3%;
    left: 3%;
    height: 5%;
    text-align: center;
}
.captions{
    text-align: center;
    font-size: 15px;
}